#col1 {
    position: relative;
}

#hombrebtn{
    position: absolute;
    left: 45%;
    top: 50%;
}

#col2 {
    position: relative;
}

#mujerbtn{
    position: absolute;
    left: 45%;
    top: 50%;
}

#colSeasontxt{
    background-color: #D9D8D7;
    text-align: center;
    text-align: center;
    display: block;
    margin: auto;
}

/* #colSeasonimg{
    background-color: bisque;
    height: 640px;
    width: 640px;
    width: 50%;
} */

/* #colSeasonimg2{
    background-color: brown;
    height: 640px;
    width: 640px;
    width: 50%;
} */





