#seccionHombreimg{
    width: 100%;
}

#seccionMujerimg{
    width: 100%;
}

#col1 {
    position: relative;
}

#hombrebtn{
    position: absolute;
    left: 45%;
    top: 50%;
}

#col2 {
    position: relative;
}

#mujerbtn{
    position: absolute;
    left: 45%;
    top: 50%;
}

#colSeasontxt{
    background-color: aqua;
    text-align: center;
    display: block;
    margin: auto;
}

#colSeasonimg{
    /* background-color: bisque; */
    height: 640px;
    width: 640px;
}

#colSeasonimg2{
    /* background-color: brown; */
    height: 640px;
    width: 640px;
}





